<div class="q_index">


<h1>質問一覧</h1>

  <div class="question_create btn btn-success">
   <%= link_to '質問を投稿する', new_question_path,class:'hover_none' %>
    
  </div>
  <div class="index_border">
     <% @questions.each do |question| %>
       <div class="index_border">
        <h2><%= link_to question.title ,question_path(question.id),class:'hover_none'%></h2>
        <%= link_to question.user.name,usershow_path(question.user_id) ,class:'hover_none'%><br>
        </div> 
      <% end %>   
  
  





</div>