<div class="hometopload">
	<%= image_tag '/images/whitelogo.png',class:'homelogo'%>
</div>


<div class="homecontentall">

    <ul class="bxslider fontsize">
    	<li><div class="bg1"></div></li>
    	<li><div class="bg2"></div></li>
    	<li><div class="bg3"></div></li>
    </ul>


	


	<ul class="homeim">
	<li><%= image_tag '/images/gi01a201503310000.png',class:'homeimage'%></li>
	<li><%= image_tag '/images/gi01a201503310000.png',class:'homeimage'%></li>
	<li><%= image_tag '/images/gi01a201503310000.png',class:'homeimage'%></li>

	</ul>


</div>

