<div class="all">
	<div class="wrapper" >
	    <h1>HEELO HUMANS!!</h1>
	</div>
	<div class="content">
		<div class="message">
		
		<h1>『皆様のペットのアルバムを提供します』</h1>

		<p>このアプリで自分のペットの写真を友達とシェアしましよう！</p>

		<p>多くの思い出をこのアルバムに残そう！</p>
			<div class="bk">
				<a href="http://www.jspca.or.jp/">動物愛護団体</a><br>
				<a href="http://matome.naver.jp/odai/2140038989492524401">屠殺</a><br>
				<a href="http://www.pet-home.jp/center/">保健所　里親募集中！</a><br>
				<a href="https://retrip.jp/articles/7357/">動物園</a><br>
			</div>
	</div>
</div>
