<h1>Home#top</h1>
<p>Find me in app/views/home/top.html.erb</p>
<%= link_to 'newpet',new_pet_path %>


<% if user_signed_in? %>
<%= link_to current_user.name, usershow_path(current_user.id) %>
<% end %>

<%= link_to '新規投稿',new_note_path%>
<%= link_to 'note', notes_path %>
