/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require jquery.bxslider.css
 *= require jquery.bxslider.min.css
 */

 *{
 	margin: 0px;
 	padding: 0px;
 }
body{
	/*margin-top: -20px;
	border-left: 10px solid yellow;
	border-right: 10px solid yellow;*/
}
.wrapper{
	background-image: url("/images/GAK86_morumotto.jpg") ;
	background-size: cover;
	width: 100%;
    height: 600px;
}
.wrapper h1{
	color: chocolate;
	margin-left: 550px;
	line-height: 600px;
	font-family: impact;
	font-size: 100px;
	margin-top: 0px;
	letter-spacing: 5px;
}

.applogo{
	/*background-color: #FF9966;*/
	display: block;
	position: fixed;
	height: 100px;
	width: 165px;
    padding: 20px;
    z-index: 3;
    left: 10px;
    margin-top: 10px;
    border-radius: 100px;
}


header{	
	color: black;
	position: fixed;
	/*background-color: white;*/
	width: 1000px;
	margin-left: 350px;
	margin-top: 0px;
	z-index: 6;
	color: white;
	font-family: arial black;
}
header ul{
	 
}
header li{
	list-style: none;
	float: right;
	line-height: 50px;
	font-size: 15px;
	margin-left: 20px;
	margin-top: 10px;
	padding-bottom: -15px;	
}
header li:hover{
	background: none;
	color: chocolate;
	border-bottom: 5px solid chocolate;
}
header .backclear{
	background: none;
	text-decoration: none;
	color: white;
	
}
header .backclear:hover{
	color: chocolate;
}


.field{
	width: 600px;
	margin-top: 50px;
}
.form_all{
	width: 700px;
    box-shadow: 5px 5px skyblue;
	display: inline-block;
	margin: 0 auto;
	background-color: blue;
	padding: 30px;



}

.content{
	background: chocolate;
	width: 100%;
	height: 400px;
}

