// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.message h1{
	color: white;
	text-align: center;
	line-height: 200px;
}

.message p{
	color: white;
	font-size: 30px;
	padding-top: 10px;
	margin-left: 25%;
	margin-top: 0px;
}




