// Place all the styles related to the Notes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.pet_form .note_show_title{
	font-size: 50px;
	margin-bottom: 30px;
	border-bottom: 5px solid skyblue;
	padding-bottom: 20px;

}